.mobile-menu-burger {
    height: 39px;
    flex-direction: column;
}

.mobile-menu-burger > div {
    width: 30px;
    height:1px;
    background:#fff;
	-webkit-transition: all, 0.4s;
	-o-transition: all, 0.4s;
	transition: all, 0.4s;
}

.logo {
    max-height: 80px;
}